@{
    ViewData["Title"] = "Aggiungi dipendente";
}
<div class="container">
    <h2>Aggiungi Dipendente</h2>
    <form  asp-controller="Employees" asp-action="Add" method="post" >
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputNome">Nome</label>
                <input type="text" class="form-control" id="inputNome" required name="nome">
            </div>
            <div class="form-group col-md-6">
                <label for="inputCognome">Cognome</label>
                <input type="text" class="form-control" id="inputCognome" required name="cognome">
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="inputIndirizzo">Indirizzo</label>
            <input type="text" class="form-control" id="inputIndirizzo" required name="indirizzo">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputConiugato">Coniugato</label>
                <select id="inputConiugato" class="form-control" name="coniugato">
                    <option value="si">Sì</option>
                    <option value="no">No</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputFigli">Numero di Figli</label>
                <input type="number" class="form-control" id="inputFigli" min="0" name="numeroFigli">
            </div>
            <div class="form-group col-md-6">
                <label for="inputMansione">Mansione</label>
                <input type="text" class="form-control" id="inputMansione" name="mansione">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Aggiungi</button>
    </form>
</div>