@{
    ViewData["Title"] = "Dipendenti";
}

<div class="text-center">
    <h1 class="display-4">Dipendenti</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Cognome</th>
            <th scope="col">Indirizzo</th>
            <th scope="col">CF</th>
            <th scope="col">Coniugato</th>
            <th scope="col">Figli a carico</th>
            <th scope="col">Mansione</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row"></th>
            <td>Mark</td>
            <td>Otto</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>Mark</td>
        </tr>
    </tbody>
</table>