@{
    ViewData["Title"] = "Pagamenti";
}

<div class="text-center">
    <h1 class="display-4">Pagamenti</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Dipendente</th>
            <th scope="col">Periodo pagamento</th>
            <th scope="col">Totale</th>
            <th scope="col">Stipendio/Acconto</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row"></th>
            <td>Mark</td>
            <td>Otto</td>
            <td>Mark</td>
        </tr>
    </tbody>
</table>